<nav class="nav w-[100vw] h-[15vh] flex justify-between items-center">
  <div class="logo">
    <img src="Filmix-name-only-removebg-preview.png" alt="" />
  </div>
  <div
    class="links w-[55%] h-[100%] flex justify-start items-center gap-6 flex-row text-lg"
  >
    <a href="">Películas</a>
    <a href="">Series</a>
    <a href="">Mi lista</a>
    <a href="">Buscar por categoria</a>
  </div>
  <div class="search w-[25%] h-[100%]">
    <div
      class="search w-[100%] h-[100%] flex justify-center items-center flex-row"
    >
      <input
        type="search"
        name=""
        id=""
        placeholder="Búsqueda..."
        class="text-lg"
      />
      <button class="search-btn w-[5rem] h-[3rem] cursor-pointer">
        <i class="fas fa-search text-xl"></i>
      </button>
    </div>
  </div>
</nav>
