.info-film {
  padding: 0.5rem;
}
.card-film {
  background-color: var(--second-color); /* Fondo gris oscuro */
  border: 2px solid var(--third-color); /* Borde rojo */
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
  overflow: hidden; /* Asegura que el contenido no se desborde */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  position: relative;
  bottom: 3rem;
  z-index: 999999999999999999;
}

.card-film:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada en hover */
}

.card-film img {
  height: 60%; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Asegura que la imagen se ajuste sin distorsión */
}

.info-film {
  background-color: var(--first-color); /* Fondo negro */
  color: var(--fourth-color); /* Texto blanco */
  padding: 1rem; /* Espaciado interno */
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Espaciado entre elementos */
}

.info-film h3 {
  font-size: 1.25rem; /* Tamaño del título */
  color: var(--third-color); /* Título en rojo */
}

.info-film p {
  font-size: 0.875rem; /* Tamaño del texto */
  color: var(--fourth-color); /* Texto blanco */
}

.info-film p b {
  color: var(--fifth-color); /* Texto destacado en rojo oscuro */
}
